PORT=??????????
SECRET_KEY_JWT=?????????????

DB_PASSWORD=??????????
DB_USER=??????????
DB_NAME=??????????
DB_HOST=??????????
DB_PORT=??????????

# Postgres SSL (para Postgres local en Docker normalmente es false)
DB_SSL=false
# Si DB_SSL=true, opcionalmente apunta al CA
DB_SSL_CA_PATH=./ssl/ca-certificate.crt

# Opcional: Blockchain (si no tienes wallet, déjalo en false)
ENABLE_BLOCKCHAIN=false
PORT=??????????
SECRET_KEY_JWT=?????????????

DB_PASSWORD=??????????
DB_USER=??????????
DB_NAME=??????????
DB_HOST=??????????
DB_PORT=??????????

# Postgres SSL (para Postgres local en Docker normalmente es false)
DB_SSL=false
# Si DB_SSL=true, opcionalmente apunta al CA
DB_SSL_CA_PATH=./ssl/ca-certificate.crt

# Opcional: Blockchain (si no tienes wallet, déjalo en false)
ENABLE_BLOCKCHAIN=false

# Si ENABLE_BLOCKCHAIN=true, entonces define también:
# HARDHAT_MICROSERVICE_URL=http://...
# BLOCKCHAIN_URL=https://...
# WALLET_PRIVATE_KEY=0x...

# Desactiva el control de horario electoral estricto para pruebas
BYPASS_ELECTION_TIME=false

# Desactiva la evaluación de matching facial para acelerar el desarrollo del Frontend
BYPASS_BIOMETRIA_FACE_MATCH=false
